* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #232323;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
}

.blinkdiv {
  background-color: transparent;
  transition: all 0.1s;
  min-height: 100vh;
}
