.navbar {
  background: white;
  padding: 1rem;
  color: #484848;
}

.navbar .flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.navbar .brand {
  font-weight: bold;
  padding: 0 1rem;
}

.navbar .about {
  margin-left: auto;
  color: #bbb;
}

.navbar .selected {
  color: white;
  background: steelblue;
}

#modebtn-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

#modebtn-container > .modebtn {
  display: inline;
  margin: 0px;
  padding: 0px 0.5rem;
  outline: none;
  border: none;
  border-radius: 999rem;
  background-color: transparent;
  color: #111;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#modebtn-container > .modebtn:hover:not(.selected) {
  color: steelblue;
}

#modebtn-container > .modebtn.selected {
  background-color: steelblue;
  color: white;
}
