.reset {
  display: block;
  margin: 3rem auto;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 999rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  color: #484848;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  cursor: pointer;
}

.reset:hover {
  color: white;
  background-color: steelblue;
}
